#preview-section {
  position: absolute;
  right: 0px;
  width: 491px;
  height: 100vh;
  background-color: #c6d7fa;
}

#preview-section.full-preview {
  width: 100vw;
  height: 100vh;
}

#preview-A4 {
  position: relative;
  top: 50px;
  left: calc((491px / 2) - (408px / 2));
  padding: 15px;
  width: 408px;
  height: 597px;
  background-color: white;
}

#preview-section.full-preview #preview-A4 {
  top: 10px;
  left: calc(50vw - 240px);
  width: 480px;
  height: calc(480px * 1.414);
}

#preview-A4,
#h6-section {
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#h6-section {
  position: relative;
  top: 20px;
}

#preview-A4:hover .edit-btns i {
  opacity: 1;
}

#viewTemplateBtn {
  position: absolute;
  bottom: 50px;
  width: 150px;
  left: calc(491px / 2 - 75px);
  border: none;
  color: #4f246a;
  background-color: #c6d7fa;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

#preview-section.full-preview #viewTemplateBtn {
  bottom: 20px;
  left: calc(50vw - 75px);
}

#first-name-surname-A4 {
  position: relative;
  color: #00158c;
  font-weight: 400;
  font-size: 25px;
}

#phone-number-email-A4 {
  position: relative;
  color: #000000;
  font-weight: 400;
  font-size: 12px;
  max-width: 320px;
}

.separator-A4 {
  width: 345px;
  height: 1px;
  background-color: #00158c;
}

.h6-info {
  color: #00158c;
  font-weight: bold;
  font-size: 12px;
}

#experience-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  max-width: 320px;
}

#upper-exp-section {
  display: flex;
  gap: 50px;
  flex-direction: row;
}

#bullet-li,
#skill-li {
  font-size: 15px;
}

#education-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  font-size: 15px;
}

#qulification-and-field-of-study {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#bullet-points,
#skill-points {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  column-gap: 200px;
}

#summary-section {
  width: 300px;
  height: 100px;
}

.flexbox-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.edit-btns {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.edit-btns i {
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}
