#contact-form {
  position: relative;
  gap: 20px;
  margin-top: 50px;
  max-width: 806px;
  left: calc((100vw - 491px - 806px) / 2);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#first-name-and-surname,
#county-region-and-postcode,
#phone-and-email {
  display: flex;
  flex-direction: row;
  gap: 106px;
}

#contact-form input {
  position: relative;
  margin-top: 10px;
  width: 350px;
  height: 40px;
  color: #868585;
  font-size: 20px;
  padding-left: 5px;
}

#contact-form #city {
  width: 806px;
}
