#education-form {
  position: relative;
  gap: 20px;
  margin-top: 50px;
  max-width: 806px;
  left: calc((100vw - 491px - 806px) / 2);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.education-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#insitution-and-city,
#field-of-study-and-quali,
#start-year-and-grad-year,
#grade-and-honours {
  display: flex;
  flex-direction: row;
  gap: 106px;
}

#education-form input,
select {
  position: relative;
  margin-top: 10px;
  width: 350px;
  height: 40px;
  color: #868585;
  font-size: 20px;
  padding-left: 5px;
}

#checkBoxDiv {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  left: calc((100vw - 491px - 806px) * 1);
}

#education-form #eduCheckBox {
  width: 30px;
  transform: translateY(-10%);
}
