#RoleDescriptionForm {
  position: relative;
  gap: 20px;
  left: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#upperTextBox {
  width: 887px;
  height: 120px;
  border: 1px solid #4f4f4f;
  border-radius: 10px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#lowerTextBox {
  width: 887px;
  height: 320px;
  border: 1px solid #4f4f4f;
  border-radius: 10px;
}

#workplace-and-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#workplace {
  font-size: 30px;
  font-weight: bold;
}

#position {
  font-size: 20px;
  font-weight: bold;
}

#address-and-duration {
  font-size: 20px;
  color: #4f4f4f;
}

#edit-button {
  width: 120px;
  height: 48px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 30px;
  bottom: 50px;
  background-color: white;
}

#lowerTextBox {
  position: relative;
  padding: 10px;
}

#textbox-description {
  color: #4f4f4f;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.bullet-input {
  display: flex;
  align-items: start;
  gap: 10px;
  margin-bottom: 10px;
}

.bullet-input textarea {
  flex: 1;
  resize: none;
  padding: 5px;
  color: #4f4f4f;
  font-size: 15px;
}

#add-bullet-btn,
#remove-bullet-btn {
  width: 180px;
  height: 30px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 30px;
  margin-top: 5px;
  background-color: white;
}

#add-bullet-btn {
  width: 180px;
}

#remove-bullet-btn {
  width: 80px;
}
