#RoleDescriptionForm {
  position: relative;
  gap: 20px;
  left: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#upperTextBox {
  width: 887px;
  height: 120px;
  border: 1px solid #4f4f4f;
  border-radius: 10px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#lowerTextBox {
  width: 887px;
  height: 320px;
  border: 1px solid #4f4f4f;
  border-radius: 10px;
}

#workplace-and-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#workplace {
  font-size: 30px;
  font-weight: bold;
}

#position {
  font-size: 20px;
  font-weight: bold;
}

#address-and-duration {
  font-size: 20px;
  color: #4f4f4f;
}

#lowerTextBox {
  padding: 10px;
  color: #4f4f4f;
  font-weight: bold;
  font-size: 20px;
}

#edit-button {
  width: 120px;
  height: 48px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 30px;
  bottom: 50px;
  background-color: white;
}
